body {
    background-color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .container {
        display: inline-block;
        width: 800px;
        padding: 50px;
        margin-left: calc((100% - 800px) / 2);
        background-color: #292C35;
        margin-top: 60px;
    }

        .left {
            /* display: inline-block; */
            width: 40%;
            background-color: #292C35;
            float: left;
            
            border-right: 1px solid #ccc;
        }

        hr {
            height: 1px;
            outline: 1px;
            width: 30%;
            border-width: 0px;
            border-style: solid;
            background-color:#FF8600 ;
            margin-bottom: 10px;
            
        }

            h1 {
                color: white;
                /* border-bottom: 1px solid orange; */
                /* line-height: 60px; */
                padding-bottom: 20px;
                size: 30;
            }

        .right {
            display: inline-block;
            width: 60%;
            background-color: #292C35;
            float: left;
           
        }   

            textarea {
                width: 100%;
            }

            .form-row {
                width: 100%;
            }

            label {
                width: 100%;
                /* margin-bottom: 10px; */
                line-height: 30px;
                font-size: 10px;
                text-transform: uppercase;
                color:#ccc ;
                display: block;
            }

            .form-row > input {
                width: 80%;
                line-height: 25px;
                border: none;
                outline: none;
                border-bottom: 1px solid #7D7F88;
                background-color: transparent;
                color: white;
            }

            input:focus::placeholder {
                color: transparent;
            }

            .box {
                float: left;
                display: inline-block;
                margin: 0px;
                margin-top: 5px;
                width: 16px;
                height: 16px;
                padding-bottom: 10px;
                /* height: 30px; */

            }

            .ver {
                display: inline-block;
                text-transform: uppercase;
                font-size: 10px;
                color: #7D7F88;
            }

            .box-text {
                display: inline-block;
                bottom: 0px;
                margin-left: 5px;
                margin-top: 6px;
                font-size: 15px;
                color: #E1E0E7;
                /* padding-bottom: 10px; */
                

                
            }
        .right {

        }

            .right > label {
                line-height: 15px;
                width: 100%;
                margin-left: 20px;
                padding-bottom: 10px;
            }

            .button {
                font-size: 20px;
                padding: 10px;
                background-color: #FF8600;
                margin-top: 32px;
                text-align: center;
                color: #E1E0E7;
                text-transform: uppercase;
                margin-top: 55px;
                box-shadow: 0px 4px 4px black;
                
            }

            textarea {
                background-color: transparent;
                border: none;
                outline: none;
                margin-left: 20px;
                resize: none;
                color: white;
            }

            textarea:focus {
                
            }

            ::placeholder {
                font-size: 13px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #E1E0E7;
            }

           .button:hover {
               color: white;
               cursor: pointer;
               box-shadow: 0px 4px 8px black;
           }

           textarea:focus::placeholder {
               color: transparent;
           }
           
